接下来的一整年, 在我30岁的时候, 要完成以下事项
一年之后, 若还是这般模样, 考虑是不是离开北京

减少惆怅和娱乐的时间
集中精力提高自己
少玩手机和游戏
适量运动
减肥
健身

能看懂财报
考个证券从业资格证
形成一个基础框架(比如时间片/网络库/技能/buff/任务)
编程珠玑
数学之美
golang
c++11标准库和并发
effective modern c++
redis
libevent
算法
滑雪
注意保护牙齿肩颈眼睛等
注意休息, 经常活动
尝试与雪莲萱娅交往
看一本游戏开发方面的书籍
背完单词本和六级单词

